@model dynamic

@{
    ViewBag.Title = "Convene";
}

<h2>Welcome to Convene</h2>
<p>
    Convene is the new platform for performing conference management, while enabling high-fidelity integration
    with your existing web presence. 
</p>